{%extends 'base.html'%}

{%block page_content%}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">

          <h1 class="jumbotron" ><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></h1>

        <p class="btn-default">+(44) 7904245026</p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">

          <h1 class="jumbotron" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></h1>

        <p class="btn-default">tbadamshina@hotmail.com</p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">

          <h1 class="jumbotron " ><span class=" fa fa-github " aria-hidden="true"></span></h1>

        <p class="btn-default">https://github.com/tanyaba</p>
      </div>
    </div>
  </div>
</div>

{%endblock%}